/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  height: 100%;
  background: #fff;
  font-size: 17px;
  line-height: 25px;
  font-family: 'El Messiri', sans-serif;
  min-width: 320px;
  color: #1B1B1B; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:focus {
    outline: none; }

i {
  color: #000; }

button {
  cursor: pointer;
  background: #fff;
  border: none;
  font-family: 'El Messiri', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  font-size: 24px;
  line-height: 38px; }
  @media only screen and (max-width: 1023px) {
    button {
      font-size: 19px; } }
  @media only screen and (max-width: 767px) {
    button {
      font-size: 18px;
      line-height: 25px; } }
  button:focus {
    outline: none; }
  button:hover {
    background: #F1F2F8; }

img {
  width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

#wrapper {
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #000; }

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%; }

.btn {
  padding: 26px 29px 22px 33px;
  border-radius: 50px; }
  @media only screen and (max-width: 1023px) {
    .btn {
      padding: 15px 15px 9px 15px; } }
  @media only screen and (max-width: 767px) {
    .btn {
      padding: 11px 15px 9px 15px; } }

.btn-form {
  font-family: 'El Messiri', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: #000;
  border: 1px solid #C0C5E1;
  padding: 19px 61px 12px 52px; }
  @media only screen and (max-width: 1023px) {
    .btn-form {
      padding: 18px 90px 14px 90px; } }
  @media only screen and (max-width: 767px) {
    .btn-form {
      width: 100%;
      padding: 18px 10px 14px 10px; } }

.header {
  padding: 60px 0; }
  @media only screen and (max-width: 1023px) {
    .header {
      padding: 20px 0; } }

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 83px 0 0; }
  @media only screen and (max-width: 1190px) {
    .header-content {
      padding: 0; } }
  @media only screen and (max-width: 767px) {
    .header-content {
      position: relative; } }

.logo img {
  width: 70px; }
  @media only screen and (max-width: 767px) {
    .logo img {
      width: 45px; } }

.menu-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 92px;
  padding-top: 18px;
  flex-wrap: wrap;
  min-width: 570px; }
  @media only screen and (max-width: 1190px) {
    .menu-navigation {
      padding: 0; } }
  @media only screen and (max-width: 1023px) {
    .menu-navigation {
      min-width: 400px; } }
  @media only screen and (max-width: 767px) {
    .menu-navigation {
      display: none; } }
  .menu-navigation li {
    width: 17.3%; }
    .menu-navigation li a {
      font-weight: 500;
      line-height: 27px; }

.holder-phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 7px; }
  .holder-phone .icon::before {
    top: -10px;
    left: -10px; }
  @media only screen and (max-width: 767px) {
    .holder-phone {
      display: none; } }

.mobile-menu-navigation {
  position: fixed;
  z-index: 25;
  top: 0;
  right: 200%;
  width: 100%;
  transition: all .25s ease; }
  .mobile-menu-navigation .navigation {
    display: block;
    padding: 80px 40px;
    background: #5A68B1;
    min-height: 100vh; }
    .mobile-menu-navigation .navigation li {
      position: relative;
      text-align: center;
      margin-bottom: 30px; }
    @media only screen and (max-width: 767px) {
      .mobile-menu-navigation .navigation .phone-item {
        padding: 20px 0;
        border-top: solid 1px #000;
        border-bottom: solid 1px #000; } }
  @media only screen and (max-width: 767px) {
    .mobile-menu-navigation .holder-phone {
      display: flex;
      justify-content: center; } }

.show-menu {
  right: 0; }

.btn-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103; }
  @media only screen and (max-width: 767px) {
    .btn-menu {
      display: block; } }
  .btn-menu::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -10px;
    right: -10px;
    bottom: -7px;
    z-index: -1;
    border-radius: 50%; }
  .btn-menu span {
    background: #000;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
  .btn-menu .middle {
    top: 22px; }
  .btn-menu .bottom {
    top: 28px; }
  .btn-menu.active .top {
    transform: translateY(8px) translateX(0) rotate(45deg);
    top: 14px; }
  .btn-menu.active .middle {
    opacity: 0; }
  .btn-menu.active .bottom {
    top: 30px;
    transform: translateY(-8px) translateX(0) rotate(-45deg); }

.icon {
  display: block;
  position: relative;
  z-index: 5; }
  .icon img {
    width: 20px; }
  .icon::before {
    content: "";
    position: absolute;
    top: -7px;
    left: -8px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    z-index: -1; }
  .icon:hover {
    text-decoration: none; }
    .icon:hover::before {
      background: #F1F2F8; }

.phone {
  display: block;
  font-weight: 500;
  line-height: 27px;
  padding-left: 22px; }

.banner {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(87.7deg, #0A1F8B -52.14%, rgba(10, 31, 139, 0) 125.08%);
  margin-top: -205px;
  margin-bottom: 65px;
  padding: 280px 0 70px; }
  @media only screen and (max-width: 1190px) {
    .banner {
      padding: 210px 0 70px; } }
  @media only screen and (max-width: 1023px) {
    .banner {
      margin-bottom: 40px; } }
  @media only screen and (max-width: 767px) {
    .banner {
      padding: 190px 0 0;
      margin-bottom: 20px; } }

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 23px 0 30px; }
  @media only screen and (max-width: 1023px) {
    .banner-content {
      justify-content: flex-start; } }
  @media only screen and (max-width: 767px) {
    .banner-content {
      align-items: center;
      flex-direction: column-reverse; } }
  .banner-content .title-area {
    max-width: 530px; }
    @media only screen and (max-width: 1023px) {
      .banner-content .title-area {
        max-width: 330px; } }
    @media only screen and (max-width: 767px) {
      .banner-content .title-area {
        margin-bottom: 20px;
        max-width: 100%; } }
    .banner-content .title-area .title {
      font-size: 64px;
      line-height: 80px;
      margin-bottom: 32px;
      text-align: left; }
      @media only screen and (max-width: 767px) {
        .banner-content .title-area .title {
          font-size: 35px;
          line-height: 40px;
          margin-bottom: 18px; } }
      @media only screen and (max-width: 1023px) {
        .banner-content .title-area .title {
          font-size: 50px;
          line-height: 60px;
          margin-bottom: 40px; } }
      @media only screen and (max-width: 767px) {
        .banner-content .title-area .title {
          font-size: 36px;
          line-height: 40px;
          margin-bottom: 10px; } }
    .banner-content .title-area .title-text {
      margin-bottom: 108px;
      text-align: left; }
      @media only screen and (max-width: 1023px) {
        .banner-content .title-area .title-text {
          margin-bottom: 55px; } }
      @media only screen and (max-width: 767px) {
        .banner-content .title-area .title-text {
          margin-bottom: 15px; } }

.img-banner {
  position: relative; }
  @media only screen and (max-width: 767px) {
    .img-banner {
      display: none; } }
  .img-banner::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(ellipse at center, #ffffff 0%, #f7f7f7 50%, #ffffff 73%, #ffffff 100%);
    filter: blur(80px);
    border-radius: 50%;
    overflow: hidden; }

.title-area .title {
  text-align: center;
  font-family: 'Marck Script', cursive;
  font-weight: 400;
  font-size: 50px;
  line-height: 63px;
  margin-bottom: 10px; }
  @media only screen and (max-width: 767px) {
    .title-area .title {
      font-size: 35px;
      line-height: 40px;
      margin-bottom: 0; } }

.title-area .title-text {
  font-weight: 400;
  color: #1B1B1B;
  text-align: center; }

.socials-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 30px; }
  @media only screen and (max-width: 767px) {
    .socials-area {
      margin-right: 0; } }
  .socials-area .line {
    display: block;
    width: 1.5px;
    height: 155px;
    background: #000;
    margin-bottom: 50px; }
    @media only screen and (max-width: 767px) {
      .socials-area .line {
        display: none; } }

.socials {
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 767px) {
    .socials {
      flex-direction: row; } }
  .socials li {
    margin-bottom: 17px; }
    @media only screen and (max-width: 767px) {
      .socials li {
        padding: 0 20px; } }
    .socials li:nth-child(2) .icon::before {
      left: -7px; }

.about-me {
  margin-bottom: 170px; }
  @media only screen and (max-width: 1023px) {
    .about-me {
      margin-bottom: 125px; } }
  @media only screen and (max-width: 767px) {
    .about-me {
      margin-bottom: 55px; } }
  .about-me .title .title__text {
    line-height: 80px;
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .about-me .title .title__text {
        font-size: 35px;
        line-height: 40px; } }

.about-me-content {
  margin-bottom: 120px;
  padding: 0 74px; }
  @media only screen and (max-width: 1023px) {
    .about-me-content {
      padding: 0; } }
  @media only screen and (max-width: 767px) {
    .about-me-content {
      margin-bottom: 40px; } }
  .about-me-content h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 80px;
    margin-bottom: 5px; }
    @media only screen and (max-width: 767px) {
      .about-me-content h3 {
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 0; } }
  .about-me-content p {
    margin-bottom: 25px; }

.service-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin: 0 -22px 0; }
  @media only screen and (max-width: 767px) {
    .service-list {
      flex-direction: column; } }
  .service-list::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    bottom: -50px;
    left: 0;
    background: rgba(174, 181, 217, 0.42);
    filter: blur(25px);
    z-index: -1; }
    @media only screen and (max-width: 767px) {
      .service-list::after {
        top: -30px;
        bottom: -20px; } }
  .service-list li {
    width: 25%; }
    @media only screen and (max-width: 767px) {
      .service-list li {
        width: 100%;
        margin-bottom: 30px; } }
    .service-list li a {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 115px;
      justify-content: space-between; }
      @media only screen and (max-width: 767px) {
        .service-list li a {
          min-height: 100px; } }
      .service-list li a .img-area {
        margin-bottom: 10px; }
        .service-list li a .img-area img {
          width: 60px; }
      .service-list li a span {
        color: #000;
        text-align: center; }
    .service-list li:hover {
      cursor: pointer; }

.my-help {
  margin-bottom: 50px; }
  @media only screen and (max-width: 767px) {
    .my-help {
      margin-bottom: 20px; } }
  .my-help .title {
    margin-bottom: 60px; }
    @media only screen and (max-width: 767px) {
      .my-help .title {
        margin-bottom: 20px; } }

.help-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -60px; }
  @media only screen and (max-width: 767px) {
    .help-list {
      margin: 0; } }
  .help-list li {
    background: #F1F2F8;
    border-radius: 10px;
    max-width: 300px;
    min-height: 415px;
    padding: 32px 15px;
    margin: 0 60px 65px;
    position: relative; }
    @media only screen and (max-width: 1190px) {
      .help-list li:nth-child(3n)::after {
        display: none; }
      .help-list li:last-child::after {
        display: none; } }
    @media only screen and (max-width: 1023px) {
      .help-list li {
        margin: 0 64px 65px; } }
    @media only screen and (max-width: 767px) {
      .help-list li {
        max-width: 100%;
        margin: 0 0 20px;
        min-height: inherit; } }
    .help-list li::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -145px;
      transform: translate(0, -50%);
      background-image: url("../images/hand.svg");
      width: 143px;
      height: 137px; }
      @media only screen and (max-width: 767px) {
        .help-list li::after {
          display: none; } }
    .help-list li h4 {
      font-weight: 600;
      font-size: 26px;
      line-height: 41px;
      text-align: center;
      margin-bottom: 16px; }
    .help-list li p {
      padding: 0 20px; }
      @media only screen and (max-width: 767px) {
        .help-list li p {
          padding: 0; } }
    .help-list li:first-child::after {
      display: none; }
    .help-list li:nth-child(4n)::after {
      display: none; }
      @media only screen and (max-width: 1190px) {
        .help-list li:nth-child(4n)::after {
          display: block; } }
      @media only screen and (max-width: 767px) {
        .help-list li:nth-child(4n)::after {
          display: none; } }

.communication {
  margin-bottom: 40px; }
  .communication .title-area {
    margin-bottom: 30px; }
    @media only screen and (max-width: 767px) {
      .communication .title-area {
        margin-bottom: 10px; } }
    .communication .title-area .title {
      margin-bottom: 25px;
      font-weight: 500;
      line-height: 27px;
      color: #000; }
      @media only screen and (max-width: 767px) {
        .communication .title-area .title {
          font-size: 26px;
          margin-bottom: 5px; } }
  .communication .socials li {
    margin: 0 35px; }
    @media only screen and (max-width: 767px) {
      .communication .socials li {
        margin: 0 15px; } }
    .communication .socials li .icon::before {
      background: #F6F7FA;
      top: -16px;
      left: -16px;
      width: 60px;
      height: 60px; }
    .communication .socials li .icon:hover::before {
      background: #d0d3db; }
  .communication .form-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid rgba(95, 108, 179, 0.56);
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 0 40px;
    min-height: 285px;
    margin-bottom: 22px; }
    @media only screen and (max-width: 1023px) {
      .communication .form-area {
        flex-direction: column;
        padding: 30px; } }
    .communication .form-area .form-group {
      width: 295px; }
      @media only screen and (max-width: 1190px) {
        .communication .form-area .form-group {
          width: 220px; } }
      @media only screen and (max-width: 1023px) {
        .communication .form-area .form-group {
          width: 100%;
          margin-bottom: 30px; } }
      .communication .form-area .form-group input {
        background: rgba(255, 255, 255, 0.8);
        border: 1px solid #C0C5E1;
        height: 60px;
        width: 100%;
        padding: 13px 15px; }
        .communication .form-area .form-group input::placeholder {
          font-family: 'El Messiri', sans-serif;
          font-weight: 400;
          font-size: 17px;
          line-height: 17px;
          color: rgba(0, 0, 0, 0.6);
          opacity: 0.8; }
  .communication .form-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000;
    text-align: center;
    margin-bottom: 70px; }
    @media only screen and (max-width: 767px) {
      .communication .form-text {
        margin-bottom: 30px; } }

.footer {
  padding: 45px 0;
  background: linear-gradient(169deg, #0A1F8B -50.79%, rgba(198, 202, 228, 0) 159.26%); }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: 15px 0; } }

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; }
  @media only screen and (max-width: 767px) {
    .footer-content {
      flex-direction: column; } }
  .footer-content .contacts {
    display: flex;
    align-items: center; }
    .footer-content .contacts p {
      font-size: 24px;
      line-height: 38px;
      color: #000;
      padding-right: 38px; }
      @media only screen and (max-width: 767px) {
        .footer-content .contacts p {
          font-size: 22px;
          line-height: 30px; } }
    .footer-content .contacts a {
      font-size: 18px;
      line-height: 29px;
      color: #000; }

.z-index_10 {
  position: relative;
  z-index: 10; }

.z-index_img img {
  position: relative;
  z-index: 5; }

.img-width_25 img {
  width: 25px; }

.img-width_29 img {
  width: 29px; }

.icon_position img {
  padding: 3px 0;
  width: 19px; }

.input_sm {
  width: 192px !important; }
  @media only screen and (max-width: 1023px) {
    .input_sm {
      width: 100% !important; } }

.display_flex {
  display: flex;
  flex-direction: inherit;
  justify-content: center; }
