@import "mixin";
@import "variables";

.btn-link {
  display: inline-block;
  font-family: 'El Messiri', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: $dark-two;
  font-size: 24px;
  line-height: 38px;
  padding: 26px 29px 22px 33px;
  border-radius: 50px;
  background: $white;

  &:hover {
    text-decoration: none;
    background: $dark-grey;
  }

  @include breakpoint($tablet) {
    font-size: 19px;
    padding: 15px 15px 9px 15px;
  }

  @include breakpoint($mobile) {
    font-size: 16px;
    line-height: 25px;
    padding: 11px 15px 9px 15px;
  }
}

.btn-form {
  font-family: 'El Messiri', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
  color: $dark-two;
  border: 1px solid $purple;
  padding: 19px 61px 12px 52px;

  @include breakpoint($tablet) {
    padding: 18px 90px 14px 90px;
  }

  @include breakpoint($mobile) {
    width: 100%;
    padding: 18px 10px 14px 10px;
  }
}
