@import "variables";
@import "mixin";

.header {
  padding: 60px 0;

  @include breakpoint($tablet) {
    padding: 20px 0;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 75px 0 0;

  @include breakpoint($desktop) {
    padding: 0;
  }

  @include breakpoint($mobile) {
    position: relative;
  }
}

.logo {
  img {
    width: 70px;

    @include breakpoint($mobile) {
      width: 45px;
    }
  }
}

.holder-phone {
  @include breakpoint($mobile) {
    display: none;
  }
}

.menu-navigation {
  display: flex;
  padding-left: 92px;

  @include breakpoint($desktop) {
    padding: 0;
  }

  @include breakpoint($mobile) {
    display: none;
  }

  li {
    padding: 0 70px;

    @include breakpoint($tablet) {
      padding: 0 30px;
    }

    a {
      font-weight: 500;
      line-height: 27px;
    }
  }
}

.icon {
  position: relative;
  z-index: 5;

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -9px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: $white;
    z-index: -1;
  }

  &:hover {
    text-decoration: none;

    &::before {
      background: $dark-grey;
    }
  }
}

.phone {
  font-weight: 500;
  line-height: 27px;
  padding-left: 18px;
}

.banner {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(87.7deg, #0A1F8B -52.14%, rgba(10, 31, 139, 0) 125.08%);
  margin-top: -205px;
  margin-bottom: 60px;

  @include breakpoint($tablet) {
    margin-top: -125px;
    margin-bottom: 40px;

  }

  @include breakpoint($mobile) {
    margin-top: -155px;
  }
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 140px 15px 20px;

  @include breakpoint($desktop) {
    padding: 140px 25px 20px;
  }

  img {
    @include breakpoint($desktop) {
      width: 450px;
    }

    @include breakpoint($tablet) {
      width: 250px;
    }

    @include breakpoint($mobile) {
      display: none;
    }
  }

  .title {
    text-align: left;
    margin-bottom: 107px;

    @include breakpoint($tablet) {
      margin-bottom: 40px;
    }

    .title__text {
      font-size: 64px;
      line-height: 80px;
      margin-bottom: 32px;

      @include breakpoint($mobile) {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 18px;
      }
    }
  }
}

.title {
  text-align: center;
  span {
    display: block;
  }

  .title__text {
    font-family: 'Marck Script', cursive;
    font-weight: 400;
    font-size: 50px;
    line-height: 63px;
    margin-bottom: 10px;

    @include breakpoint($mobile) {
      font-size: 35px;
      line-height: 40px;
    }
  }

  .title__subtitle {
    font-weight: 400;
    color: $dark-one;
  }
}

.socials-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 35px;

  @include breakpoint($mobile) {
    margin-right: 20px;
  }

  .line {
    display: block;
    width: 1.5px;
    height: 155px;
    background: $dark-two;
    margin-bottom: 50px;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    margin-bottom: 20px;
  }
}

.socials {
  li:nth-child(2) {
    .icon {
      &::before {
        left: -12px;
      }
    }
  }
}

.about-me {
  margin-bottom: 175px;

  @include breakpoint($tablet) {
    margin-bottom: 125px;
  }

  @include breakpoint($mobile) {
    margin-bottom: 55px;
  }

  .title {
    .title__text {
      line-height: 80px;
      margin-bottom: 0;

      @include breakpoint($mobile) {
        font-size: 35px;
        line-height: 40px;
      }
    }
  }
}

.about-me-content {
  margin-bottom: 120px;
  padding: 0 74px;

  @include breakpoint($tablet) {
    padding: 0;
  }

  @include breakpoint($mobile) {
    margin-bottom: 40px;
  }

  h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 80px;
    margin-bottom: 5px;

    @include breakpoint($mobile) {
      font-size: 25px;
      line-height: 40px;
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: 25px;
  }
}

.service-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  @include breakpoint($mobile) {
    flex-direction: column;
  }

  &::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    bottom: -50px;
    left: 0;
    background: rgba(174, 181, 217, 0.42);
    filter: blur(70px);
    z-index: -1;

    @include breakpoint($mobile) {
      top: -30px;
      bottom: -20px;
    }
  }

  li {
    width: 25%;

    @include breakpoint($mobile) {
      width: 100%;
      margin-bottom: 30px;
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 115px;
      justify-content: space-between;

      @include breakpoint($mobile) {
        min-height: 100px;
      }

      img {
        width: 60px;
      }

      span {
        color: $dark-two;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.my-help {
  margin-bottom: 30px;
  .title {
    margin-bottom: 60px;

    @include breakpoint($mobile) {
      margin-bottom: 20px;
    }
  }
}

.help-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -60px;

  @include breakpoint($mobile) {
    margin: 0;
  }

  .item {
    background: $dark-grey;
    border-radius: 10px;
    max-width: 300px;
    min-height: 415px;
    padding: 32px 15px;
    margin: 0 65px 65px;
    position: relative;

    @include breakpoint($tablet) {
      margin: 0 64px 65px;
    }

    @include breakpoint($mobile) {
      max-width: 100%;
      margin: 0 0 50px;
      min-height: inherit;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -125px;
      transform: translate(0, -50%);
      background-image: url("../images/hand.svg");
      width: 143px;
      height: 137px;

      @include breakpoint($mobile) {
        display: none;
      }
    }

    h4 {
      font-weight: 600;
      font-size: 26px;
      line-height: 41px;
      text-align: center;
      margin-bottom: 16px;
    }

    p {
      padding: 0 20px;

      @include breakpoint($mobile) {
        padding: 0;
      }
    }
  }

  .item:nth-child(3),
  :nth-child(5) {
    &::after {
      display: none;

      @include breakpoint($desktop) {
        display: block;
      }
    }
  }

  .item:nth-child(2),
  :nth-child(4) {
    &::after {
      @include breakpoint($tablet) {
        display: none;
      }
    }
  }
}

.communication {
  margin-bottom: 45px;

  .title {
    margin-bottom: 25px;

    .title__subtitle {
      font-weight: 500;
      line-height: 27px;
      color: $dark-two;

      @include breakpoint($mobile) {
        font-size: 16px;
      }
    }
  }

  p {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: $dark-two;
    margin-bottom: 165px;

    @include breakpoint($tablet) {
      margin-bottom: 65px;
    }

    @include breakpoint($mobile) {
      margin-bottom: 25px;
    }
  }

  .socials {
    li {
      margin: 0 37px;

      .icon {
        &::before {
          background: $lactic;
          top: -26px;
          left: -14px;
          width: 60px;
          height: 60px;
        }

        &:hover {
          &::before {
            background: $silver;
          }
        }
      }
    }

    li:nth-child(2) {
        .icon {
          &::before {
            left: -18px;
          }
        }
      }
  }
}

.form-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid rgba(95, 108, 179, 0.56);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 113px 38px;
  margin-bottom: 22px;

  @include breakpoint($tablet) {
    flex-direction: column;
    padding: 30px;
  }

  .form-group {
    width: 295px;

    @include breakpoint($desktop) {
      width: 220px;
    }

    @include breakpoint($tablet) {
      width: 100%;
      margin-bottom: 30px;
    }

    input {
      background: rgba(255, 255, 255, 0.8);
      border: 1px solid $purple;
      height: 60px;
      width: 100%;
      padding: 13px 15px;

      &::placeholder {
        font-family: 'El Messiri', sans-serif;
        font-weight: 400;
        font-size: 17px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.6);
        opacity: 0.8;
      }
    }
  }
}

.footer {
  padding: 45px 0;
  background: linear-gradient(103.82deg, #0A1F8B -20.79%, rgba(198, 202, 228, 0) 174.26%);
  filter: drop-shadow(0px 4px 40px rgba(0, 0, 0, 0.25));

  @include breakpoint($mobile) {
    padding: 15px 0;
  }
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($mobile) {
    flex-direction: column;
  }

  .contacts {
    display: flex;
    align-items: center;

    @include breakpoint($mobile) {
      justify-content: space-between;
      width: 100%;
    }

    p {
      font-size: 24px;
      line-height: 38px;
      color: $dark-two;
      padding-right: 38px;

      @include breakpoint($mobile) {
        font-size: 22px;
        line-height: 30px;
        padding-right: 0;
      }
    }

    a {
      font-size: 18px;
      line-height: 29px;
      color: $dark-two;
    }
  }
}






