@import "variables";
@import "mixin";

.mobile-menu-navigation {
  position: fixed;
  z-index: 25;
  top: 0;
  right: 200%;
  width: 100%;
  transition: all .25s ease;

  .navigation {
    display: block;
    padding: 80px 40px;
    background: $blue;
    min-height: 100vh;

    li {
      position: relative;
      text-align: center;
      margin-bottom: 30px;
    }

    .phone-item {
      @include breakpoint($mobile) {
        padding: 20px 0;
        border-top: solid 1px $dark-two;
        border-bottom: solid 1px $dark-two;
      }
    }
  }

  .holder-phone {
    @include breakpoint($mobile) {
      display: block;
    }
  }
}

.show-menu {
  right: 0;
}

.btn-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 28px;
  cursor: pointer;
  transition: all .25s ease;
  z-index: 103;

  @include breakpoint($mobile) {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -10px;
    right: -10px;
    bottom: -7px;
    //background: $light-gray;
    z-index: -1;
    border-radius: 50%;
  }

  span {
    background: $dark-two;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
  }

  .middle {
    top: 22px;
  }

  .bottom {
    top: 28px;
  }

  &.active {
    .top {
      transform: translateY(8px) translateX(0) rotate(45deg);
      top: 14px;
    }

    .middle {
      opacity: 0;
    }

    .bottom {
      top: 30px;
      transform: translateY(-8px) translateX(0) rotate(-45deg);
    }
  }
}
