@import "mixin";

.z-index_10 {
  position: relative;
  z-index: 10;
}

.z-index_img {
  img {
    position: relative;
    z-index: 5;
  }
}

.img-width_25 {
  img {
    width: 25px;
  }
}

.img-width_29 {
  img {
    width: 29px;
  }
}

.icon_img-24 {
  img {
    width: 24px;
  }
}

//.icon_position {
//  img {
//    padding: 3px 0;
//    width: 19px;
//  }
//}

.icon_s {
  padding: 8px;
}

.icon_md {
  padding: 15px;
}

.icon_ld {
  padding: 15px 18px 15px 15px;
}

//.icon_sm {
//  padding: 8px 9px 0 9px;
//}

.input_sm {
  width: 192px !important;

  @include breakpoint($tablet) {
    width: 100% !important;
  }
}

.display_flex {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden;
}

