.z-index_10 {
  position: relative;
  z-index: 10;
}

.fz_28 {
  i {
    font-size: 28px;
  }
}

.fz_36 {
  i {
    font-size: 36px;
  }
}

.input_sm {
  width: 192px!important;
}

.display_flex {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
}
